
[Desktop Entry]
Encoding=UTF-8
Name=Link to BWV - 784 - RÁDIO PIANO CLÁSSICO
Type=Link
URL=http://newtonmarcolobo.posterous.com/bwv-784
Icon=gnome-fs-bookmark
Name[en_US]=BWV784_met_vingers
