[Desktop Entry]
Encoding=UTF-8
Name=Link to ▶ Analysis of Motivic Development- Bach's Invention No. 1 in C Major - YouTube
Type=Link
URL=https://www.youtube.com/watch?v=x33NihQShyw
Icon=text-html
