[Desktop Entry]
Encoding=UTF-8
Name=Link to YouTube - ‪Mozart: Marche Funèbre‬‏
Type=Link
URL=http://www.youtube.com/results?search_query=Mozart%3A+Marche+Fun%C3%A8bre&aq=f
Icon=gnome-fs-bookmark
