<!DOCTYPE html>
  <!--  file: index.html  -->
  <!--  functie: jinja template file tbv een index file -->
  <!--  opmerking: deze template file moet in de subdirectory templates staan -->

<html>
<head>
    <title>Index</title>
</head>
<body>

     <!-- Toon de solmisatie syllable pictures as string constante-->
    <img src="{{ url_for('static', filename='1ss.png') }}" alt="User Image">
    <br>
    <img src="{{ url_for('static', filename='1chs.png') }}" alt="User Image">
    <br>
    
    {% for n in ssList %}
      <!-- Toon de solmisatie syllable pictures -->
      <p>getal: {{n}}</p>
      <br>

      <!-- ToDo: het dynamisch opbouwen van de filenamen van de plaatjes gaat nog niet goed -->
      <img src="{{ url_for('static', filename='{{n}}ss.png') }}" alt="User Image">
      <br>
      <!-- Toon de Cruwen handsign pictures -->
      <img src="{{ url_for('static', filename='{{n}}chs.png') }}" alt="User Image">
      <br>
      <br>
    {% endfor %}

</body>
</html>