<!DOCTYPE html>
  <!--  file: index.html  -->
  <!--  functie: jinja template file tbv een index file -->
  <!--  opmerking: deze template file moet in de subdirectory templates staan -->

<html>
<head>
    <title>Index</title>
</head>
<body>

    <!--  {% for fSS in ssList %}  -->

      <!-- Toon de olmisatie syllable pictures -->
      <!-- even static proberen -->  
      <img src="/home/claude/Desktop/Downloads/cx1964BladMuziek/Solfege/oefen_solmisatie/1ss.png" alt="User Image">
      <br>
    <!--  {% endfor %}  -->

</body>
</html>